@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap");

:root {
  --primary-dark: #1d1d20;
  --secondary-dark: #2a2a2d;
  --primary-light: #f1f5f9;
  --secondary-light: #cbd5e1;
}

@layer base {
  body {
    @apply !font-[Roboto] !font-normal bg-[var(--primary-light)] transition-all dark:bg-[var(--primary-dark)];
  }
  h1 {
    @apply font-[Raleway] text-xl font-semibold;
  }
  input {
    @apply mb-6 py-3 px-4 block w-full transition-all bg-gray-100 border border-gray-200 hover:bg-white focus:bg-white rounded-md text-xs md:text-sm font-medium text-[var(--primary-dark)] dark:text-[var(--secondary-light)] dark:bg-[var(--primary-dark)] dark:border-zinc-900 dark:hover:bg-[var(--secondary-dark)];
  }
}

.error {
  @apply border-red-500 dark:border-red-700;
}
